#root {
  margin: 0 auto;
  text-align: center;
}
.logo{
  max-width: 60%;
  margin: auto;
  margin-bottom: 7%;
}
.logo img{
  width: 100%;
}
.App{
  width: 400px;
  max-height: 800px;
  background: #fff;
  margin: auto;
  padding-bottom: 20px;
}
.nav{
  display: contents;
}
.nav__btn{
  padding: 10px;
    font-size: 12px;
    min-width: 30px;
    text-align: center;
    text-transform: none;
    border: 0px;
    border-radius: 0px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: normal;
    background: #000;
    color: #fff;

}
.nav__btn:hover{
color: #4A90E2;
}
